<footer class="d-flex justify-content-center align-items-center flex-column">
    <div class="footer mt-3">
        <h1>OnlineCourses</h1>
    </div>

    <div class="link mt-3">
        <ul>
            <li><a href="#">A Propos</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Conditions d'utilisation</a></li>
        </ul>
    </div>

    <div class="copyright mt-3">
        <p>&copy 2022, Tous droits réservés</p>
    </div>   
</footer>