<footer class="d-flex justify-content-center align-items-center flex-column">
    <div class="footer mt-3">
        <h1>OnlineCourses</h1>
        <p class="text_para1">We ara a lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="text_para2">Contactez-Nous à l'adresse suivante : OnlineCourses@gmail.com</p>
    </div>

    <div class="link mt-3">
        <ul>
            <li><a href="#">A Propos</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Conditions d'utilisation</a></li>
        </ul>
    </div>

    <div class="copyright mt-3">
        <p>&copy 2022, Tous droits réservés</p>
    </div>   
</footer>