<header>

  <div class="p-5 text-center bg-image my-auto" style="background-image: url('../../../assets/Ressources/hero.jpg'); height: 100vh; background-size:cover;">
    {{!-- <div class="overlay"></div> --}}
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
            <h1 class="mt-5">Atteignez vos objectifs <br> Apprenez à coder</h1>
            <p class="mb-5">Créer de véritables applications Web, <br> en partant de la base, avec les meilleurs frameworks.</p>
            <a href="/inscription" class="btn btn-primary">Commencer</a>
            <div class="arrow">
                <span></span>
                <span></span>
                <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container miniatures">
        <h3 class="titre_principale">Devenez un expert sur les technologies les plus demandées</h3>
        <p class="paragraphe_principal">Restez à jour sur vos compétences. Apprenez les langages, les frameworks et les concepts les plus avancés pour développer un profil attractif sur le marché de la tech.</p>
        <div class="row">
            <div class="col-md-4 cours">
                <img src="../../assets/Ressources/htmlcss.png" alt="htmlcss logo">
                <h5>HTML/CSS</h5>
                <p>Création de pages Web modernes</p>
            </div>
            <div class="col-md-4 cours">
                <img src="../../assets/Ressources/flutter.png" alt="flutter logo">
                <h5>Flutter</h5>
                <p>Framework application mobile créé par Google</p>
            </div>
            <div class="col-md-4 cours">
                <img src="../../assets/Ressources/Javascript.png" alt="javascript logo">
                <h5>JavaScript</h5>
                <p>Création de pages Web dynamiques</p>
            </div>
        </div>

          <div class="row">
            <div class="col-md-4 cours">
              <img src="../../assets/Ressources/angular.png" alt="angular logo">
              <h5>Angular</h5>
              <p>Framework front-end créé par Google</p>
            </div>
            <div class="col-md-4 cours">
              <img src="../../assets/Ressources/react.png" alt="react logo">
              <h5>React 18</h5>
              <p>Framework front-end créé par Facebook</p>
            </div>
            <div class="col-md-4 cours">
              <img src="../../assets/Ressources/vue.png" alt="vue logo">
              <h5>Vue 3</h5>
              <p>Framework front-end Open Source</p>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
  <h1 class="titre_apprentissage">Un apprentissage personalisé</h1>
  <div class="row why-reason">
    <div class="col-md-3">
      <img src="../../../assets/Ressources/why-progressive.png" alt="why-progressive-logo" class="why-reason-logo">
      <h5>Progressif</h5>
      <p>Les formations partent du principe que vous n’avez aucune connaissance particulière sur la technologie et vous accompagnent progressivement vers une réelle expertise.</p>
    </div>

    <div class="col-md-3">
      <img src="../../../assets/Ressources/why-flexible.png" alt="why-flexible-logo" class="why-reason-logo">
      <h5>Flexible</h5>
      <p>Nous nous adaptons à votre emploi du temps. Nos formations sont réalisables à tout moment quand vous en aurez besoin, en complète autonomie.</p>
    </div>

    <div class="col-md-3">
      <img src="../../../assets/Ressources/why-worker.png" alt="why-worker-logo" class="why-reason-logo">
      <h5>Prêt à l'emploi</h5>
      <p>Plus que des listes todos, nous proposons des projets ambitieux pour vous permettre de réaliser de véritables applications qui vous seront utile en entreprise.</p>
    </div>

    <div class="col-md-3">
      <img src="../../../assets/Ressources/why-hand.png" alt="why-hand-logo" class="why-reason-logo">
      <h5>Expertise</h5>
      <p>Apprenez auprès de développeurs professionnels qui ont travaillé aussi bien dans des startups que dans des grandes entreprises, en France et à l’étranger (Vinci, Leboncoin etc...).</p>
    </div>
  </div>
</div>

<div class="container communaute">
  <h1>Rejoingnez une communauté bien veillante</h1>
  <p>Cela n'est pas toujours simple d'apprendre seul. La plateforme vous met à disposition un chat, directement intégré aux formations, sur lequel nos étudiants échangent quotidiennement. Vous pourrez ainsi poser toutes vos questions et partager votre code</p>
  <img src="../../../assets/ressources/chat.png" alt="chat image" class="chat-image">

</div>