<header>   
  <div class="p-5 text-center bg-image my-auto" style="background-image: url('../../../assets/Ressources/header_image.jpg'); height: 100vh; background-size:cover;">
    <div class="overlay"></div>
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
            <h1 class="mt-5">C'est l'apprentissage qui est à vous</h1>
            <p class="mb-5">Accédez à un monde de connaissances depuis chez vous ou en déplacement.</p>
        </div>
      </div>
    </div>
  </div>

      <div class="container miniatures">
        <h1 class="titre_principale">Une large sélection de cours</h1>
        <div class="row">
            <div class="col-md-4">
                <img src="../../assets/Ressources/miniature.png" style="width: 397px; height:267px" alt="miniature">
            </div>
            <div class="col-md-4">
                 <img src="../../assets/Ressources/miniature.png" style="width: 397px; height:267px" alt="miniature">
            </div>
            <div class="col-md-4">
                <img src="../../assets/Ressources/miniature.png" style="width: 397px; height:267px" alt="miniature">
            </div>
        </div>
    </div>
</header>


