{{#if user.isAdmin}}
{{>navAdmin}}
{{else}}
{{>navConnected}}
{{/if}}

<style>
    .titreDucours{
        margin-top: 100px;
        text-align: center;
        border: 1px solid purple;
    }

    .description{
        text-align: center;
        border: 1px solid purple;
    }

    .contenu{
        text-align: center;
        border: 1px solid purple;
    }
</style>

{{#if user.isVisiteur}}
<div class="container titreDucours">
    <h1>{{user.titre}}</h1>    
</div>

<div class="container description">
    <p>{{user.description}}</p>
</div>

<div class="container contenu">
    <h1>{{user.contenu}}</h1>
</div>
{{/if}}